<h1 class="text-3xl font-bold text-center mb-8">Tasks List</h1>

<div>
  <div>
    <% @tasks.each do |task| %>
      <div>
        <h2><%= task.title %></h2>
        <%= image_tag task.thumb_image %>
      </div>
    <% end %>
  </div>
</div>